### ```String Based assignment problem```

In [6]:
# 1 program to reverse string 
str1 = input("Enter the string :")
rev_str = str1[::-1]
print("reverse string is :",rev_str)

Enter the string : hi how are you

reverse string is : uoy era woh ih

In [12]:
# 2 check if string is pallindrome or not 
str2 = input("enter the string" )
revstr2 = str2[::-1]
if str2 == revstr2:
    print("the string is pallidrome")

else :
    print("the string is not pallindrome ")

enter the string memory

the string is not pallindrome

In [16]:
# 3 converting a string to uppercase
str3 = input("Enter the string ")
upstr3 = str3.upper()
print("String in uppercase is :",upstr3)

Enter the string  hi

String in uppercase is : HI

In [18]:
# 4 convert a string to lower case 
str4 = input("enetr the string :")
lowstr4 = str4.lower()
print("string in lower case are:",lowstr4)

enetr the string : HI HOW ARE\

string in lower case are: hi how are\

In [53]:
# 5 Count the number of vowels in a string.
str5 = input("enter the string :")
v = "AEIOUaeiou"
count = 0 
for i in str5:
    for j in v :
        if i ==j:
            count = count+1
print("total vow in string is :",count)

enter the string : kfjhkfh

total vow in string is : 0

### ``` 6. Count the number of consonants in a string.```

In [56]:
str6 = input("Enter the string: ")
vowels = "AEIOUaeiou"
count = 0

for char in str6:
    if char.isalpha() and char not in vowels: # it will check only for alphabet and then check wether the alphabet is in vowels variable or not we are preventing them to count total number of spaces also  
        count += 1

print("Total number of consonants:", count)

Enter the string:  hi

Total number of consonants: 1

In [64]:
#7. Remove all whitespaces from a string.
# using replace fucntion 
str7 = input("enter the string ")
cleanstr = str7.replace(" ","")
print("cleaned string is : ",cleanstr)

enter the string  hi how

cleaned string is :  hihow

In [71]:
# using split and join function 
str7 = input("enter the string :")
clean = "".join(str8.split())
print("new cleaned string is :",clean)

enter the string : hi how

new cleaned string is : hihow

### 8. Find the length of a string without using the `len()` function.

In [75]:
str8 = input("enter the string :")
count = 0
for i in str8:
    count +=1
print("total lenght of string is :",count)

enter the string : hi h

total lenght of string is : 4

In [101]:
# 9. Check if a string contains a specific word.
str9 = input("enter the string :").strip()
check = input("enter the specific word you want to check :").strip()
if check in str9:
    print("found ")
else :
    print("sorry not found:")

enter the string : python
enter the specific word you want to check : python

found

In [87]:
# 10 Replace a word in a string with another word.
str10 = input("enter the string :")
rep = input("enter a word you want to replace :")
new = input("enter the new word you want to add:")
newstr = str10.replace(rep,new)
print("new string after replacing a word are : ",newstr)

enter the string : hi
enter a word you want to replace : i
enter the new word you want to add: o

new string after replacing a word are :  ho

In [95]:
#11. Count the occurrences of a word in a string.
str11 = input("enter the string :")
word = input("enter the word to count :")
oc = str11.count(word)
print("total occurence of the word in the string is :",oc)

enter the string : this is python program , i am python dev, soon i will write code
enter the word to count : python

total occurence of the word in the string is : 2

In [105]:
#12. Find the first occurrence of a word in a string.
str12 = input("enter the string :").strip()
w = input("enter the word to find the first occurence :").strip()
print("the first occurence of the program occur on ",str12.find(w))

enter the string : hi this is python
enter the word to find the first occurence : is

the first occurence of the program occur on  5

In [107]:
#13. Find the last occurrence of a word in a string.
str13 = input("enter the string :")
w = input("enter the word you want to find :")
# we will use .rfind()
print("last occurence of the word will be :",str13.rfind(w))

enter the string : hi this is pyhon
enter the word you want to find : is

last occurence of the word will be : 8

In [111]:
#14. Split a string into a list of words.
str14 = input("enter the string to split in list of words :")
l = str14.split()
print(l)

enter the string to split in list of words : hi this    is python

['hi', 'this', 'is', 'python']

In [113]:
# 15 Join a list of words into a string.
l = ['hi', 'this', 'is', 'python']
temp = ""
for i in l:
    temp = temp+i+" "

print("joined list is :",temp)

joined list is : hi this is python

In [124]:
#16. Convert a string where words are separated by spaces to one where words are sepereated by underscores
# usign replace function 
str16 = input("enter the string :").strip()
new = str16.replace(" ","_")
print("new string is : ",new)

enter the string : hi this is hacker

new string is :  hi_this_is_hacker

In [8]:
# 17. Check if a string starts with a specific word or phrase.
str17 = input("enter the string :")
start = input("enter the string to check wether it starts with this word or not :")
if str17.startswith(start):
    print("yes it starts with this word ")

else :
    print("no")

enter the string : i am hacker
enter the string to check wether it starts with this word or not : am

no

In [14]:
#18. Check if a string ends with a specific word or phrase.
str18 = input("enter the string")
ends = input("enter the string")
if str18.endswith(ends):
    print("yes it ends with the word that you provide ")

else:
    print("no")

enter the string hi this is me
enter the string me

yes it ends with the word that you provide

In [16]:
#19. Convert a string to title case (e.g., "hello world" to "Hello World").
str19 = input("enter the string :")
new = str19.title()
print(new)

enter the string : hi this is me

Hi This Is Me

### ```20. Find the longest word in a string.```

In [43]:
# method 1 using dictionary 
str20 = input("enter the string :")
words = str20.split() # this will create a list of words 
d = {} # this will hold the key  value pair of words and its length
for word in words:
    d[word] = len(word)
long  = {} # this is the dictionary to hold the longest words
m = max(d.values())
for (k,v) in d.items():
    if v == m:
        long[k] = v

long

enter the string : cyber hacker

{'hacker': 6}

In [25]:
# method 2 
str20 = input("enter the string :")
words = str20.split()
long_word  = ""
for word in words:
    if len(word)>len(long_word):
        long_word = word

print("longst word is :",long_word)

enter the string : this is pythonprogram

longst word is : pythonprogram

### ```21. Find the shortest word in a string.```

In [20]:
# using each word as key and its lenth as value in the dicttinary 

str21 = input("enter the string :")
words = str21.split()
c = {}
mindict = {}
for word in words:
    c[word] = len(word)

minc = min(c.values())
for (key,values) in c.items():
    if values == minc:
        mindict[key] = values

print("the shortest word in then string is :",mindict)

enter the string : python language cyberhacker

the shortest word in then string is : {'python': 6}

### ``` 22. Reverse the order of words in a string.```

In [58]:
str22 = input("enter the string :")
revl = str22.split()[::-1]
print(revl)
temp = ""
for i in revl:
    temp += i+" "

print(temp)

enter the string : this is test string

['string', 'test', 'is', 'this']
string test is this

### ```23. Check if a string is alphanumeric.```

In [70]:
#23. Check if a string is alphanumeric.
str23 = input("enter the string :").strip()
if str23.isalnum():
    print("yes")

else :
    print("no ")

enter the string : hi

yes

In [75]:
#24. Extract all digits from a string.
str24 = input("enter the string :")
print("Extracted digits are :")
for i in str24:
    if i.isdigit():
        print(i)

enter the string : 897987

Extracted digits are :
8
9
7
9
8
7

In [81]:
# 25. Extract all alphabets from a string.
str25 = input("enter the string :")
new = ""
for i in str25:
    if i.isdigit():
        pass
    else:
        new = new+i

print(new)

enter the string : hi34 this is ali9

hi this is ali

In [87]:
# 26. Count the number of uppercase letters in a string.
str26 = input("enter the string :")
count = 0
for i in str26:
    if i.isupper():
        count = count+1

print("total uppercase are :",count)

enter the string : hI

total uppercase are : 1

In [91]:
#27. Count the number of lowercase letters in a string.
str27 = input("enter the string :")
count = 0 
for i in str27:
    if i.islower():
        count = count+1

print("total lowercase are :",count)

enter the string : hI this

total lowercase are : 5

### ``` 28. Swap the case of each character in a string.```

In [98]:
str28 = input("enter the string :")
print(str28.swapcase())

enter the string : cyber AttAck

CYBER aTTaCK

In [112]:
# 29. Remove a specific word from a string.
str29 = input("enter the string :")
word  = input("enetr the word to delete:")+" "

print(str29.replace(word,"").strip())

enter the string : hi i wrote a python
enetr the word to delete: a

hi i wrote python

### ``` 30. Check if a string is a valid email address.```

In [114]:
str30 = input("enter the string :")
str30

enter the string : str

'str'

In [121]:
# 31. Extract the username from an email address string.
str31 = input("enter the email :")
symbol = str31.find("@")
username = str31[0:symbol]
print("username :",username)

enter the string : hackerrank@gmail.com

username : hackerrank

In [123]:
# 32. Extract the domain name from an email address string.
str32 = input("enter the email :")
symbol = str32.find("@")
domain_web = str32[symbol+1::]
print("domain name :",domain_web)

enter the email : hackerrank@dbyte.com

domain name : dbyte.com

### ``` 33. Replace multiple spaces in a string with a single space.```

In [128]:
# note split fucntion break the string into words and make the list but it will not include the space in the list 
str33 = input("enter the string :")
new = " ".join(str33.split())
print("new string is :",new)

enter the string : hi             this is python

new string is : hi this is python

### ``` 34. Check if a string is a valid URL.```

In [63]:
# mtehod 1 using validator 
import validators
str34 = input("enter the url you want to check :")
verifying = validators.url(str34)
if verifying:
    print("yes its a valid url ")

else :
    print("not a valid url")

enter the url you want to check : https:google

not a valid url

In [15]:
# method 2 
from urllib.parse import urlparse

# Example URLs
url1 = "https://www.example.com"
url2 = "invalid-url"

try:
    result1 = urlparse(url1)
    valid1 = all([result1.scheme, result1.netloc])

    result2 = urlparse(url2)
    valid2 = all([result2.scheme, result2.netloc])

    print(valid1)  # Should print True
    print(valid2)  # Should print False
except ValueError:
    print("Invalid URL format")

True
False

In [17]:
# method 3
import urllib.parse

def is_valid_url(url):
    parsed_url = urllib.parse.urlparse(url)
    return all([parsed_url.scheme, parsed_url.netloc])

# Example:
url = "https://www.example.com"
if is_valid_url(url):
    print("Valid URL")
else:
    print("Invalid URL")

Valid URL

### ``` # 35. Extract the protocol (http or https) from a URL string.```

In [28]:

str35 = input("enter the url :")
ind = str35.find("://") # https://google.com
if ind !=-1:
    print("protocol is :",str35[:ind:])
else:
    print("not a valid protocol")

enter the url : https:

not a valid protocol

### ``` 36. Find the frequency of each character in a string.```

In [16]:
str36 = input("enter the string :")
empdict = {} 
for char in str36:
    if char in empdict:
        empdict[char] =  empdict[char]+1 # it will add the 1 to the key value of a character 
    else :
        empdict[char] = 1 # if character is not in dictionary it will add the char as a key and gives the value 1 
print(empdict)
for char,freq in empdict.items():
    print(f"character {char} : frequency :{freq}")

enter the string : cyber hack

{'c': 2, 'y': 1, 'b': 1, 'e': 1, 'r': 1, ' ': 1, 'h': 1, 'a': 1, 'k': 1}
character c : frequency :2
character y : frequency :1
character b : frequency :1
character e : frequency :1
character r : frequency :1
character   : frequency :1
character h : frequency :1
character a : frequency :1
character k : frequency :1

### ``` 37. Remove all punctuation from a string.```

In [19]:
# method 1 
str37 = input("enter the sting :")
clnstr = ""
for char in str37:
    if char.isalnum() or char.isspace():
        clnstr += char

print("New string without punctuation marks is :",clnstr)

enter the sting : hi! this, is python

New string without punctuation marks is : hi this is python

In [51]:
# method2 
import string 
str37 = input("enter the string :").strip()
table = str.maketrans("","",string.punctuation)
clnstr = str37.translate(table)
clnstr

enter the string : hi !

'hi '

In [55]:
# 38. Check if a string contains only digits.
str38 = input("enter the string :")
flag = False
if str38.isdigit():
    flag = True

if flag :
    print("yes")

else :
    print("no")

enter the string : @@

no

In [67]:
#39. Check if a string contains only alphabets.
str39 = input("enter the string :")
flag = False 
if str39.isalpha():
    flag = True

if flag:
    print("Yes")

else:
    print("no")

enter the string : @

no

### ``` 40. Convert a string to a list of characters.```

In [74]:
# method 1 using split fucntion 
str40 = input("enter the string :")
l = list(str40)
print(l)

enter the string : cyber

['c', 'y', 'b', 'e', 'r', ' ']

### ```41. Check if two strings are anagrams.```

In [41]:
# method 1 using dictionary 
str41_1 = input("enter the first string :").strip() #act
str41_2 = input("enter the second string :").strip() #tac
if len(str41_1) == len(str41_2):
    dict1 = {}
    dict2 = {}
    for char in str41_1:
        if char in dict1:
            dict1[char] +=1
        else:
            dict1[char] = 1
    for char1 in str41_2:
        if char1 in dict2:
            dict2[char1]+=1
        else:
            dict2[char1]=1
    if dict1 == dict2 :
        print("its anagram")
    else:
        print("No its not Anagram")
else :
    print("Not an anagrams:")

enter the first string : 02212
enter the second string : 02221

its anagram

In [116]:
# method 2 using sort 
str41_1 = input("enter the first string :").strip() #act
str41_2 = input("enter the second string :").strip() #tac
s1 = sorted(str41_1)
s2 = sorted(str41_2)
if s1 == s2:
    print("Its Anagram")

else:
    print("Its not Anagram")

enter the first string : tac
enter the second string : hack

Its not Anagram

### ```42 Encode a string using a Caesar cipher.```

In [6]:
# Example plaintext message
plaintext = "HELLO"
shift = 3  # Assuming the shift value is 3

# Initialize an empty string for the encrypted message
encrypted_text = ""

# Iterate through each character in the plaintext
for char in plaintext:
    if char.isalpha():
        base = ord('A') if char.isupper() else ord('a')
        shifted_char = chr((ord(char) - base + shift) % 26 + base)
        encrypted_text += shifted_char
    else:
        encrypted_text += char

print(f"Encrypted message: {encrypted_text}")

Encrypted message: KHOOR

### ``` 43. Decode a Caesar cipher encoded string.```

In [4]:
text = "HELLO"
shift = 3
encrypted_text = ""

for char in text:
    if char.isalpha():
        base = ord('A') if char.isupper() else ord('a')
        shifted_char = chr((ord(char) - base + shift) % 26 + base)
        encrypted_text += shifted_char
    else:
        encrypted_text += char

print(f"Encrypted message: {encrypted_text}")

# Decryption (reverse the process)
decrypted_text = ""
for char in encrypted_text:
    if char.isalpha():
        base = ord('A') if char.isupper() else ord('a')
        shifted_char = chr((ord(char) - base - shift) % 26 + base)
        decrypted_text += shifted_char
    else:
        decrypted_text += char

print(f"Decrypted message: {decrypted_text}")

Encrypted message: KHOOR
Decrypted message: HELLO

### ``` 44. Find the most frequent word in a string.```

In [16]:
str44 = input("Enter the string :")
l = str44.split() # it stores all the words in the list 
emp = {} # empty dictionary we will add all the words here as key and its value will be the number of times the word occur in the string 
max_word = {} # to store the keys which occurs most frequently and its value
for word in l:
    if word in emp:
        emp[word] +=1
    else:
        emp[word] = 1
max_val = max(emp.values())
for keys,values in emp.items():
    if values == max_val:
        max_word[keys] = values

print("The most frequent words in a string is :",max_word )

Enter the string : hit this

The most frequent words in a string is : {'hit': 1, 'this': 1}

### ``` 45. Find all unique words in a string.```

In [166]:
# method 1 
str45 = input("enter the string :")
l = str45.split() # list of words 
emp_set = set()
for i in l: # iterating over a set 
    if i.isalpha():
        emp_set.add(i)
print("unique words in the string are :",emp_set)

enter the string : hi this is python hi

unique words in the string are : {'this', 'hi', 'is', 'python'}

In [176]:
# method 2  , since the set method gives result in unordered way so we will use list to get the result in ordered way
str45_1 = input("enter the string :")
l1 = str45_1.split()
emp_list = []
for i in l1:
    if i in emp_list:
        pass
    else:
        emp_list.append(i)  # dont assign this value in the variable because it return none so variable will store the none if you assight it to a variable so remember that 
print("unique words in the string are :",emp_list)

enter the string : hi this is python hi

unique words in the string are : ['hi', 'this', 'is', 'python']

### ``` 46. Count the number of syllables in a string.```

In [7]:
# 47. Check if a string contains any special characters.
str47 = input("Enter the string :")
flag = False
for char in str47:
    if char.isalnum() or char.isspace():
        pass
    else:
        flag = True

if flag:
    print("String contains the special character")
else:
    print("String does not contain any special character")

Enter the string : cyber hack

String does not contain any special character

### ``` 48 Remove the nth word from the string```

In [29]:
str48 = input("enter the string :")
n = int(input("enter the nth word you want to remove :")) 
l = str48.split() # we will remove the n-1 index 
l.pop(n-1)
new = " ".join(l)
print("the new string :",new)

enter the string : hi this is python
enter the nth word you want to remove : 3

the new string : hi this python

In [24]:
str48 = input("enter the string: ")
n = int(input("enter the nth word you want to remove: ")) 
l = str48.split()  # Split the string into a list of words
l.pop(n - 1)       # Remove the nth word (adjusting for 0-based indexing)
new = " ".join(l)
print("the new string :",new)

enter the string:  python command ollamna
enter the nth word you want to remove:  3

the new string : python command

In [42]:
# 49. Insert a word at the nth position in a string.
str49 = input("enter the string :").strip() # this is python for data science 
n = int(input("enter the nth position at which you want to add the new word :"))
new = input("enter the word you want to add :").strip()
l = str49.split()
l.insert(n - 1,new)
nl = " ".join(l)
print("the new updated string is :",nl)

enter the string : this is python
enter the nth position at which you want to add the new word : 4
enter the word you want to add : program

the new updated string is : this is python program

### ``` 50. Convert a CSV string to a list of lists.```

In [8]:
from io import StringIO
import csv

csv_string = """text,with,Polish,non-Latin,letters
1,2,3,4,5,6
a,b,c,d,e,f
gęś,zółty,wąż,idzie,wąską,dróżką
"""

# Create a file-like object from the CSV string
f = StringIO(csv_string)

# Read the CSV data into a list of lists
reader = csv.reader(f, delimiter=',')
list_of_lists = [row for row in reader]

# Print the result
for row in list_of_lists:
    print(row)

['text', 'with', 'Polish', 'non-Latin', 'letters']
['1', '2', '3', '4', '5', '6']
['a', 'b', 'c', 'd', 'e', 'f']
['gęś', 'zółty', 'wąż', 'idzie', 'wąską', 'dróżką']

### ``` Lists based Practic problems```

In [66]:
# 1. Create a list with integers from 1 to 10.
l = [] 
for i in range(1,11):
    l.append(i)

print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [70]:
# 2. Find the length of a list without using the `len()` function.
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
count = 0 
for i in l:
    count = count+1

print("total length of list is :",count)

total length of list is : 10

In [74]:
# 3. append an element to the end of the list 
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l.append(11)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [78]:
# 4. Insert an element at a specific index in a list.
l = [1,2,3,4,6,7,8]
l.insert(4,5)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8]

In [80]:
# 5. Remove an element from a list by its value.
l = [1, 2, 3, 4, 5, 6, 7, 8]
l.remove(2)
l

[1, 3, 4, 5, 6, 7, 8]

In [84]:
# 6. Remove an element from a list by its index.
l = [1,2,3,4,5]
del l[0]
l

[2, 3, 4, 5]

### ```7 check if an element exits in a list ```

In [40]:
# 7. Check if an element exists in a list.
l = [1,2,3,"test"]
n = input("enter the element to check ")
if i in l:

enter the element to check  7

not found
not found
not found
not found
not found
not found
not found

In [22]:
# 8. Find the index of the first occurrence of an element in a list.
str8 = input("enter the string :").strip()
l = str8.split()
ele = input("enter the element to find :").strip()
n = l.index(ele)
print("the index will be ",n)

enter the string : this is python
enter the element to find : python

the index will be  2

In [26]:
# 9. Count the occurrences of an element in a list.
# count fucntion is used to count the occurence of the element 
str9 = input("enter the string :").strip()
check = input("enter the string :").strip()
l = str9.split()
c = l.count(check)
print(f"the occurence of the {check} in the list {l} is {c}")

enter the string : cyber hack
enter the string : hack

the occurence of the hack in the list ['cyber', 'hack'] is 1

In [28]:
# 10. Reverse the order of elements in a list.
l = [1,2,3,4,5,6,7,8,9]
l.reverse()
l

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [38]:
# 11 sort a list into ascending order
l = [9,8,7,6,5,4,3,2,1]
l.sort()
print("the sorted list is :",l)

the sorted list is : [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [46]:
# 12 sort list to descending order 
l = [1, 2, 3, 4, 5, 6, 7, 8, 9]
l.sort(reverse = True)
print("the sorted list is :",l)

the sorted list is : [9, 8, 7, 6, 5, 4, 3, 2, 1]

In [88]:
# 13. Create a list of even numbers from 1 to 20.
l = [i for i in range(1,21) if i %2 ==0]
l

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [90]:
# 14. Create a list of odd numbers from 1 to 20.
l = [i for i in range(1,21,2)]
l

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [26]:
# 15. Find the sum of all elements in a list.
l = [1,2,3,4,5,6]
tsum = sum(l)
print("total sum",tsum)

total sum 21

In [1]:
# 16. Find the maximum value in a list.
l = [1,2,3,4,5]
p = max(l)
p

5

In [5]:
# 17 find the minimum value in a list
l = [1,2,3,4]
m = min(l)
m

1

In [7]:
# 18. Create a list of squares of numbers from 1 to 10.
l = [i**2 for i in range(1,11)]
l

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [25]:
# 19 create a list of random values 
l = []
for i in range(1,11):
    l.append(random.randint(1,100))

l

[78, 46, 49, 54, 37, 87, 34, 59, 23, 88]

In [43]:
# 20 remove duplicat from the list 
# we will use set to remove the duplicate 
l = [1,2,3,4,5,5,6,6,67,7]
l = list(set(l))
l

[1, 2, 3, 4, 5, 6, 67, 7]

In [1]:
# 21 find the common element between two list 
l1 = [1,2,"python",3,3]
l2 = ["python",3,4,5]
p = len(l1)
q = len(l2)
l = []
if p<q:
    for i in l1:
        for j in l2:
            if i ==j:
                l.append(i)

if q<p:
    for i in l2:
        for j in l1:
            if i==j:
                l.append(i)

print("the new list will be :",l)

the new list will be : ['python', 3, 3]

In [47]:
# 22 find the difference between the two list 
list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 50, 60, 70]
diff = list(set(list1).difference(set(list2)))
print("list difference ",diff)

list difference  [10, 20]

In [49]:
# 23 merge two list 
# method 1 using +
l1 = [10,20,30]
l2 = [40,50,60]
l1+l2

[10, 20, 30, 40, 50, 60]

In [55]:
# method 2 using extend()
l1 = [10,20,30]
l2 = [40,50,60]
l1.extend(l2)
l1

[10, 20, 30, 40, 50, 60]

In [59]:
# 24. Multiply all elements in a list by 2.
l = [1,2,3,4,5]
m = [i*2 for i in l]
m

[2, 4, 6, 8, 10]

In [61]:
# 25 filter out all the even number from a list 
l= [1,2,4,5,6,6,7,8,9,10]
p = [i for i in l if i%2 ==0]
p

[2, 4, 6, 6, 8, 10]

In [67]:
# 26 comverting a list of string to a list of integer 
l = ["12","123","90"]
p = [int(i) for i in l]
p

[12, 123, 90]

In [69]:
# 27. Convert a list of integers to a list of strings.
l = [12, 123, 90]
p = [str(i) for i in l]
p

['12', '123', '90']

### ```28 Flatten a nested list ```

In [44]:
#nested_list = [[[1, 2], [3, 4]], [[5, 6], [7]]]
nested_list = [1,2,[3,4,5]]
flattened = []

for sublist1 in nested_list:
    for sublist2 in sublist1:
        for num in sublist2:
            flattened.append(num)

print(flattened)  # Output: [1, 2, 3, 4, 5, 6, 7]

TypeError: 'int' object is not iterable

In [46]:
def flatten_list(nested_list):
    flattened = []
    for sublist in nested_list:
        for item in sublist:
            flattened.append(item)
    return flattened

In [96]:
# 29. Create a list of the first 10 Fibonacci numbers.
n1 = 0
n2 = 1
# 0,1,1,2,3,5,8,13,21,34
l = [0]
term = int(input("enter the string :"))
for i in range(0,term): # 4 times 
    n = n1+n2 #1 2 3
    n1 = n2 # 1 1 2
    n2 = n #1 2 3
    l.append(n1)

l

enter the string : 8

[0, 1, 1, 2, 3, 5, 8, 13, 21]

### ``` 30 check if a list is sorted or not ```

In [108]:
# 30 check if a list is sorted in ascending order 
alist = [10, 20, 30, 40, 50]
l = len(alist) # 5 , 0 1 2 3 4 
flag = True 
for i in range(0,l):
    if i ==4 :
        break 
    if alist[i]<alist[i+1]:
        pass
    else:
        flag = False

if flag:
    print("the list is sortd ")
else :
    print("the list is not sorted")

the list is sortd

### ``` 31 rotate a llist to the left by nth positionn ```

In [121]:
l_32 = [1,2,3,4,5,6,7,8,9]
m = len(l_32)
n = int(input("enter the position on which you want to rotate :")) # 5
if n >m :
    print("please enter the position which is less than the list length")
else :
    rotate = l_32[n-1::]+l_32[0:n-1]

rotate

enter the position on which you want to rotate : 5

[5, 6, 7, 8, 9, 1, 2, 3, 4]

### ``` 32 rotate a list to the right by nth position ```

In [117]:
# 32 32. Rotate a list to the right by `n` positions. it means from back 
l_32 = [1,2,3,4,5,6,7,8,9]
m = len(l_32)
n = int(input("enter the position on which you want to rotate :")) # 5
if n >m :
    print("please enter the position which is less than the list length")
else :
    rotate = l_32[0:n-1]+l_32[n-1::]

rotate

enter the position on which you want to rotate : 7

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
# 33. Create a list of prime numbers up to 50.
l = []
for i in range(2,51):
    flag = False 
    for j in range(2,i):
        if i%j==0:
            flag = True
            break
    if flag:
        pass
    else:
        l.append(i)

l

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

### ``` 34. Split a list into chunks of size `n`.```

In [43]:
ltest = [1,2,3,4,5,6,7,8,9] # 1,2    3,4,   5,6,   7,8,   9
temp = []
n = int(input("enter the nth split number "))
for i in range(0,len(ltest)):
    broken_list = ltest[i:i+2:1]
    temp.append(broken_list)

temp

enter the nth split number  9

[[1, 2], [2, 3], [3, 4], [4, 5], [5, 6], [6, 7], [7, 8], [8, 9], [9]]

In [16]:
# 35 find the second largest number inside the list 
# we will use sort method 
l = [3,4,5,2,1,5]
s = set(l) # to remove the duplicate in the list 
l = list(s)
print("the second largest value in list is :",l[-2])

the second largest value in list is : 4

In [18]:
# 36. Replace every element in a list with its square.
l = [2,3,4,4,5,6]
s = set(l) # to remove duplicarte values 
l = list(s)
l = [i**2 for i in l]
l

[4, 9, 16, 25, 36]

### ``` 37. Convert a list to a dictionary where list elements become keys and their indices become values.```

In [21]:
l = [4,5,6,7]
d = {}
for i in l:
    d[i] = l.index(i)

d

{4: 0, 5: 1, 6: 2, 7: 3}

### ``` 38. Shuffle the elements of a list randomly.```

In [30]:
import random
l = [1,2,3,4,5]
random.shuffle(l)
l

[4, 3, 2, 1, 5]

In [40]:
# 39. Create a list of the first 10 factorial numbers.
n = int(input("enter the n value :"))
l = []
for i in range(1,n+1):
    temp = 1
    for j in range(1,i+1):
        temp = temp*j
    l.append(temp)

l

enter the n value : 6

[1, 2, 6, 24, 120, 720]

### ```40 check if two list have at least one electemt in common ```

In [21]:
l1 = [1,2,3,4]
l2 = [3,5,6,7]
flag = False
for i in l1:
    for j in l2:
        if i ==j:
            flag = True

if flag:
    print("found")
else:
    print("not found")

found

In [1]:
#  41. Remove all elements from a list.
l = [1,2,3,4,5]
l.clear()
l

[]

In [3]:
# 42. Replace negative numbers in a list with 0.
l = [-1,2,3,-32,6,7,-89]
for i in range(0,len(l)):
    if l[i] < 0:
        l[i] = 0

print(l)

[0, 2, 3, 0, 6, 7, 0]

In [5]:
#43 convert a string into a list of words 
my_string = "Hi this is python"

# Convert the string into a list of words
wordlist = my_string.split()

# Print the list of words
print("List of words:", wordlist)

List of words: ['Hi', 'this', 'is', 'python']

In [9]:
# 44. Convert a list of words into a string.
l = ['Hi', 'this', 'is', 'python']
str = ""
for i in l:
    str = str+i+" "

str

'Hi this is python '

In [13]:
# 45. Create a list of the first `n` powers of 2.
n1 = 7

# Create a list of the first n powers of 2 using a loop
power_list = [2 ** j for j in range(n1)]

# Print the list of powers of 2
print("List of the first", n1, "powers of 2:", power_list)

List of the first 7 powers of 2: [1, 2, 4, 8, 16, 32, 64]

In [16]:
# 46. Find the longest string in a list of strings.
l = ["hi","this","is","qwerty","ytrewq"]
dicti = {}
longdict = {}
for i in l:
    dicti[i] = len(i)

for (keys,values) in dicti.items():
    if values == max(dicti.values()):
        longdict[keys] = values
print("longest words in a list of string are :",longdict)

longest words in a list of string are : {'qwerty': 6, 'ytrewq': 6}

In [24]:
# 47. Find the shortest string in a list of strings.
s = "hi this is my python program"
l = s.split()
dicti = {}
for i in l:
    dicti[i] = len(i)
for (keys,values) in dicti.items():
    if values == min(dicti.values()):
        print(keys)

hi
is
my

In [32]:
# 48 create a list of first triangular number 
# formula = {n(n+1)}/2
n = int(input("enter the n terms till you want the numbers :"))
l = []
for i in range(1,n+1):
    sum = 0
    for j in range(1,i+1):
        sum = sum+j
    l.append(sum)
l

enter the n terms till you want the numbers : 8

[1, 3, 6, 10, 15, 21, 28, 36]

### ``` 49 check if a list contains another list as subsequence ```

In [38]:

l1 = [4,5,6,7,8,9]
l2 = [4,7,9] # check wether its a subsequence of l1 or not 
flag = False 
for i in l1:
    for j in l2:
        if

True

In [40]:
a = [1,3,5]
b = [1, 2, 3, 4, 5]

# Check if 'a' is a subsequence of 'b'
is_subsequence = b[:len(a)] == a

print(is_subsequence)  # Output: True

False

In [1]:
# 50 swap two elements in a list by using indices
l = [1,2,3,4,5,6,7]
i = 0
j = 3
l[i],l[j] = l[j],l[i]
l

[4, 2, 3, 1, 5, 6, 7]

#### ``` Tuples based practice problems```

In [6]:
# 1 create a tuples from 1 to 5
my_tup = (1,2,3,4,5)
print(type(my_tup))
print(my_tup)

<class 'tuple'>
(1, 2, 3, 4, 5)

In [10]:
# 2 access the third element of a tuples 
tup2 = (1,2,3,4,5)
tup2[2] # accessing the third element in the tuple

3

In [14]:
# 3 find the length of a tuples without usign the len function 
tup3 = (1,2,3,4,5,6)
count = 0
for i in tup3:
    count += 1 
count

6

### ``` 4 count the occurences of an element in a tuple ```

In [1]:
# method 1 using simple for loop 
tup4 = (1,2,3,1,4,5,4)
ele = 1
count = 0
for i in tup4:
    if i == ele:
        count  += 1 

print(f"the occurence of the {ele} is {count}")

the occurence of the 1 is 2

In [3]:
# method 2 using dictionary 
tup4 = (1,3,4,5,6,3,3)
ele = 3 
dicti = {}
count = 0
for i in tup4:
    if i in dicti:
        dicti[i] = count+1
    else :
        dicti[i] = 1

dicti

{1: 1, 3: 1, 4: 1, 5: 1, 6: 1}

In [5]:
# 5 find the index of the fist occurence of the element in the tuple 
tup5 = (3,4,5,5,6,3)
ele= 5
ind = tup5.index(ele)
ind

2

In [7]:
# 6 check if an element exist in tuples 
tup6 = (1,2,3,54,5,6)
ele = 5
if ele in tup6:
    print("exist")
else:
    print("not exist")

exist

In [9]:
# 7 convert a tuples to a list 
tup7 = (1,2,3,5)
l = list(tup7)
l

[1, 2, 3, 5]

In [16]:
# 8 convert a list to a tuples 
l8 = [1,2,3,4,5]
tup8 = tuple(l8)
tup8

(1, 2, 3, 4, 5)

In [18]:
# 9 unpack the elements of a tuples in to variable 
tup9 = (1,2,3,43,54)
a,b,c,*others = tup9
print(a)
print(b)
print(c)
print(others)

1
2
3
[43, 54]

In [20]:
# 10 create a tupels o even numebr from 1 to 10 
l = [i for i in range(1,11) if i %2==0]
tup10 = tuple(l)
tup10

(2, 4, 6, 8, 10)

In [26]:
# 11 create a tuple of odd numbers from 1 to 10 
l = [i for i in range(1,11) if i%2!= 0]
tup11 = tuple(l)
tup11

(1, 3, 5, 7, 9)

In [28]:
# 12 concatenate two tuples 
tup1 = (1,2,23)
tup2 = (24,25,26)
t = tup1+tup2
t

(1, 2, 23, 24, 25, 26)

In [30]:
# 13 repeat a tuples three times 
t13 = (1,2,3)
three = t13*3
three

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [32]:
# 14 check if a tuple is empty or not 
tup14 = ()
l = len(tup14)
if l ==0:
    print("tuples is empty")

else:
    print("no its not empty")

tuples is empty

In [34]:
# 15 create a nested tuples 
tup15 = (1,2,("hello"),(1,2,3))
print(tup15)

(1, 2, 'hello', (1, 2, 3))

In [36]:
# 16 access the first element of a nestedl tuuples
tup16 = (1,2,("hello"),("nested","loop"))
tup16[3][0]

'nested'

In [43]:
# 17 create a tuple with a single element 
tup17 = ("single element",)
print(type(tup17))

<class 'tuple'>

In [45]:
# 18 compare two tuples
# Step 1: Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

# Step 2: Compare the two tuples using comparison operators
print("tuple1 == tuple2:", tuple1 == tuple2)  # Equality check
print("tuple1 != tuple2:", tuple1 != tuple2)  # Inequality check
print("tuple1 < tuple2:", tuple1 < tuple2)    # Less than check
print("tuple1 <= tuple2:", tuple1 <= tuple2)  # Less than or equal to check
print("tuple1 > tuple2:", tuple1 > tuple2)    # Greater than check
print("tuple1 >= tuple2:", tuple1 >= tuple2)  # Greater than or equal to check

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

In [47]:
# 19 deleting a whole tuples 
tup19 = (1,2,3,4,5,5)
del tup19
del

SyntaxError: invalid syntax (2636810465.py, line 4)

In [50]:
# 20 slice a tuple
tup20 = (1,2,3,4)
tup20[0:2]

(1, 2)

In [54]:
#21 find the maximum value in tuple 
tup21 = (1,2,3,4,5,6,7)
m = max(tup21)
m

7

In [2]:
# 22 find the minimum value in a tuple 
tup22 = (1,2,3,4)
mini = min(tup22)
mini

1

In [30]:
# 23 convert a string into tuples of character
str23 = input("enter the string:").strip()
tup23 = ()
for i in str23:
        tup23 = tup23+(i,)
    

print("tuples of charatcter are :")
print(tup23)

enter the string: i am learning data science

tuples of charatcter are :
('i', ' ', 'a', 'm', ' ', 'l', 'e', 'a', 'r', 'n', 'i', 'n', 'g', ' ', 'd', 'a', 't', 'a', ' ', 's', 'c', 'i', 'e', 'n', 'c', 'e')

In [34]:
#24 convert a tuples of charatcter into a string 
tup24 = ('i', ' ', 'a', 'm', ' ', 'l', 'e', 'a', 'r', 'n', 'i', 'n', 'g', ' ', 'd', 'a', 't', 'a', ' ', 's', 'c', 'i', 'e', 'n', 'c', 'e')
str24 = ""
for i in tup24:
    str24 = str24+i

print(str24)

i am learning data science

In [36]:
# 25 create a tuple of mixed datatype
tup25 = (1,2,"hello",True)
print(tup25)

(1, 2, 'hello', True)

In [38]:
# 26 check if twi tuples are identical
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
tuple3 = (4, 5, 6)
tuple4 = (3,2,1)

# Step 2: Compare the tuples for identity using the equality operator
are_identical1 = tuple1 == tuple2
are_identical2 = tuple1 == tuple3
are_identical3 = tuple3 == tuple4

# Step 3: Print the results
print("tuple1 and tuple2 are identical:", are_identical1)
print("tuple1 and tuple3 are identical:", are_identical2)
print("tuple3 and tuple4 are identical :",are_identical3)

tuple1 and tuple2 are identical: True
tuple1 and tuple3 are identical: False
tuple3 and tuple4 are identical : False

In [3]:
# 27 sort the element of a tuple 
tup27 = (3,4,56,2,3,7,8)
print(sorted(tup27))

[2, 3, 3, 4, 7, 8, 56]

In [7]:
# 28 convert a tuple of intergers to a list of strings
tup28 = (1,2,23,45,67,87,98)
tup28_ = ()
for i in tup28:
    tup28_ = tup28_+(str(i),)

tup28_

('1', '2', '23', '45', '67', '87', '98')

In [17]:
# 29 convert a tuples of string into a integer
tup29 = ('1', '2', '23', '45', '67', '87', '98')
tupnew = ()
for k in tup29:
    tupnew = tupnew+(int(k),)
tupnew

(1, 2, 23, 45, 67, 87, 98)

In [19]:
# 30 merge two tuples 
t1 = (1,2,3,4,5)
t2 = (6,7,8)
merge = t1+t2
print(merge)

(1, 2, 3, 4, 5, 6, 7, 8)

### ``` 31. Flatten a nested tuple.```

In [13]:
def flatten(test_tuple):
    if isinstance(test_tuple, tuple) and len(test_tuple) == 2 and not isinstance(test_tuple[0], tuple):
        return tuple([test_tuple])
    res = []
    for sub in test_tuple:
        res += flatten(sub)
    return tuple(res)

# Example usage
test_tuple = ((4, 5), ((4, 7), (8, 9), (10, 11)), ((9, 10), (3, 4)))
print("Original tuple:", test_tuple)
flattened_tuple = flatten(test_tuple)
print("Flattened tuple:", flattened_tuple)

Original tuple: ((4, 5), ((4, 7), (8, 9), (10, 11)), ((9, 10), (3, 4)))
Flattened tuple: ((4, 5), (4, 7), (8, 9), (10, 11), (9, 10), (3, 4))

In [9]:
# 32 create a tuple of the first 5 prime number 
l = []
count = 0
for i in range(2,100):
    flag = True
    for j in range(2,i):
        if i%j==0:
            flag = False
    if flag:
        count = count+1
        l.append(i)
        if count>=5:
            break
       
tup32 = tuple(l)
tup32

(2, 3, 5, 7, 11)

In [13]:
# 33 check if a tuple is a pallindrome or not 
tup1 = (1,2,3,3,2,1)
if tup1[::] ==tup1[::-1]:
    print("tuple is pallindrome")

else:
    print("no its not pallindrome :")

tuple is pallindrome

In [26]:
# 34 create a tuple of square of number from 1 to 5 
l = [i**2 for i in range(1,6)]
l = tuple(l)
l

(1, 4, 9, 16, 25)

In [38]:
# 35 filter out all the even numbers from a tuple
tup35 = (1,2,3,4,5,6,7,8,8,9,10,12,13,34,55)
tup_even = tuple(i for i in tup35 if i%2!=0)
tup_even

(1, 3, 5, 7, 9, 13, 55)

In [40]:
# 36 multiply all the elements in a tuple by 2
tup36 = (1,2,3,4,5,6,7,8,9)
l = tuple(i*2 for i in tup36)
l

(2, 4, 6, 8, 10, 12, 14, 16, 18)

In [51]:
# 37 create a tuple of random number 
import random 
tup37 = ()
for i in range(0,10):
    tup37 = tup37+(random.randint(1,100),)

tup37

(57, 69, 79, 55, 32, 87, 75, 17, 57, 17)

In [56]:
# 38 check if a tuple is sorted or not 
# Create tuples for testing
sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 3, 1, 4, 2)
def issorted(tup):
    for i in range(len(tup)-1):
        if tup[i]>tup[i+1]:
            return False
        else :
            return True

print(issorted(sorted_tuple))
print(issorted(unsorted_tuple))

True
False

In [60]:
# 39 rotate a tuple to the left by n position 
tup39 = (1,2,3,4,5,6,7,8,9)
n = int(input("enter the value of n :"))
rotate_tup = tup39[n::]+tup39[0:n]
rotate_tup

enter the value of n : 2

(3, 4, 5, 6, 7, 8, 9, 1, 2)

### ```40 rotate a tuple to the right by the nth position```

In [15]:
def right_rotate_tuple(tup, n):
    if not tup or not n:
        return tup
    n %= len(tup)
    return tup[-n:] + tup[:-n]

# Example usage
sample_tuple = (1, 2, 3, 4, 5, 6)
rotate_num = 3
rotated_tuple = right_rotate_tuple(sample_tuple, rotate_num)
print(rotated_tuple)  # Output: (4, 5, 6, 1, 2, 3)

(4, 5, 6, 1, 2, 3)

In [93]:
# 41 create a tuple of 5 fibonacci numbers
# 0, 1, 1, 2, 3, 5, 8, 13, 21, 34 this is fibonacci sequence 
n1 = 0
n2 = 1 
tup41 = ()
for i in range(1,6):
    tup41 = tup41+(n1,)
    n = n1+n2 #1 2 3
    n1 = n2 # 1 1 2
    n2 = n
tup41

(0, 1, 1, 2, 3)

### ```42 Create a tuple from user input```

In [21]:
tup42 = input("enter the comma seprerated value ").split(",")
l = []
for i in tup42:
    if i.isdigit():
        l.append(int(i))
    elif i.lower() == "false":
        l.append(False)
    elif i.lower() == "true":
        l.append(True)
    else:
        l.append(i)

dynamic_tup = tuple(l)
print("the user generated tuple is :",dynamic_tup)

enter the comma seprerated value  hi,1,2,3,true,false

the user generated tuple is : ('hi', 1, 2, 3, True, False)

### ```43 Swapping the values in tuples```

In [17]:
#43 swapping two elements in a tuples
# Example tuple
sample_tuple = (3, 7)

# Swap the values
swapped_tuple = (sample_tuple[1], sample_tuple[0])

print("Original tuple:", sample_tuple)
print("Swapped tuple:", swapped_tuple)

Original tuple: (3, 7)
Swapped tuple: (7, 3)

In [28]:
# 44 reverse the element of  a tuple 
tup44 = (1,2,3,4,5)
rev = tup44[::-1]
rev

(5, 4, 3, 2, 1)

In [32]:
# 45 cerate a tuple of first n power of 2 
n = int(input("enter the value of n "))
tup45 = tuple(2**i for i in range(1,n))
tup45

enter the value of n  5

(2, 4, 8, 16)

In [44]:
# 46 find the longest string in the tuple of strings
tup42 = input("enter the string words in comma seperated to make a tuple of string :").split(",") # we made a list of all the words
dicti = {}
tuple1 = tuple(tup42)


print(f"the longest word in tuple {tuple1} is :")
for i in tuple1:
    dicti[i] = len(i)

for (key,value) in dicti.items():
    if value == max(dicti.values()):
        print(key)

enter the string words in comma seperated to make a tuple of string : this,four

the longest word in tuple ('this', 'four') is :
this
four

In [46]:
# 47 the stortest string in the tuple of string is 
tup42 = input("enter the string words in comma seperated to make a tuple of string :").split(",") # we made a list of all the words
dicti = {}
tuple1 = tuple(tup42)


print(f"the shortest word in tuple {tuple1} is :")
for i in tuple1:
    dicti[i] = len(i)

for (key,value) in dicti.items():
    if value == min(dicti.values()):
        print(key)

enter the string words in comma seperated to make a tuple of string : hi,this,is

the shortest word in tuple ('hi', 'this', 'is') is :
hi
is

In [60]:
# 48 tuple of first n triangular number 
tup48 = ()
n = int(input("enter the n value till you want triangular number tuple :"))
for i in range(1,n+1):
    tup48 = tup48+(int((i*(i+1))/2),)

print("the tuples of triangular number are :",tup48)

enter the n value till you want triangular number tuple : 5

the tuples of triangular number are : (1, 3, 6, 10, 15)

### ``` 49 check if a tuple contains another tuples as a subsequence ```

In [ ]:
# 49 check if a tuple contains another tuples as a subsequence 
tup49 = (1,2,3,(4,5,6,7)) # this is 2d tuple means there is one tuple inside the tuple

### ``` 50. Create a tuple of alternating 1s and 0s of length n.```

In [65]:
n = int(input("enter the n value :"))
tup50 = tuple(i%2 for i in range(1,n+1))
tup50

enter the n value : 6

(1, 0, 1, 0, 1, 0)

### ```SETS BASED PRACTICE PROBLEMS```

In [87]:
# 1. Create a set with integers from 1 to 5.
setl1 = input("enter the numbers in comma seperated :").split(",")
set1 = set()
for i in setl1:
    set1.add(int(i))

set1

enter the numbers in comma seperated : 1,2,3

{1, 2, 3}

In [89]:
# 2 add an element to a set 
s2 = {1, 2, 3}
s2.add(4)
s2

{1, 2, 3, 4}

In [3]:
# 3 remove an element from a set 
s3 = {1,2,3,4,5}
s3.discard(2)
s3

{1, 3, 4, 5}

In [7]:
# 4 check if an element exist in a set or not 
s4 = {1,2,3,4,5,6,7}
ele = int(input("enter the integer value you want to find:") )
if ele in s4:
    print("it is found")

else:
    print("no")

enter the integer value you want to find: 9

no

In [9]:
# 5 find the lenght of a set without using the len function 
s5 = {1,2,3,4,5,6}
count = 0
for i in s5:
    count += 1

count

6

In [13]:
# 6 clear all elements from set 
s6 = {1,2,3,4}
s6.clear() # it will make set empty set 
s6

set()

In [15]:
#  7 create a set of even numbers from 1 to 10 
s7 = set()
for i in range(1,11):
    if i%2 ==0:
        s7.add(i)

s7

{2, 4, 6, 8, 10}

In [17]:
# 8 create a set of odd numbers from 1 to 10 
s8 = set()
for i in range(1,11):
    if i%2!=0:
        s8.add(i)

s8

{1, 3, 5, 7, 9}

In [25]:
# 9 find the union of two sets 
s9 = {1,2,3,4}
s9_ = {5,6,7,8}
un = s9.union(s9_)
un

{1, 2, 3, 4, 5, 6, 7, 8}

In [27]:
# 10 find the interesection of two sets
s10 = {1,2,3,4,5}
s10_ = {3,4,6,7,8,9}
inter = s10.intersection(s10_)
inter

{3, 4}

In [31]:
# 11 find the difference between two sets 
s11 = {1,2,3,4,5,6,7}
s12 = {4,5,8,9}
diff = s11-s12 # differe in set means, the element which are in s11 and not in s12
diff

{1, 2, 3, 6, 7}

In [33]:
# 12 check if a set is subset of another set 
s12 = {1,2,3,4,5,6}
s12_ = {1,3,6}
s12_.issubset(s12)

True

In [37]:
# 13 check if a set is superset of another set 
s13 = {1,2,3,4,5,6,7,88}
s13_ = {3,4}
s13.issuperset(s13_)

True

In [39]:
# 14 create a set from a list 
ls14 = [1,2,3,5,5,6,7,7,77]
s14 = set(ls14)
s14

{1, 2, 3, 5, 6, 7, 77}

In [41]:
# 15 convert a set to a list 
s15 = {1, 2, 3, 5, 6, 7, 77}
ls15 = list(s15)
ls15

[1, 2, 3, 5, 6, 7, 77]

### ``` 16 remove a random element from a set ```

In [65]:
# 16 remove a random element from a set 
import random 
s16 = {1,2,3,4,5,6,7}
random_ele = random.choice(s16)
s16.discard(random_ele)
s16

TypeError: 'set' object is not subscriptable

In [70]:
# 17 pop an element from a set 
s17 = {1,2,3,4,5,6}
popval = s17.pop() # in set the pop function works different it randomly dekete any value 
s17

{2, 3, 4, 5, 6}

In [75]:
# 18 check if two sets have no element in common 
s18 = {1,2,3,4,5,6,7}
s18_ = {8,9,10,3}
inter = s18_.intersection(s18)
if not inter:
    print("nothing is common")

else:
    print("yes there is common element")

yes there is common element

In [77]:
# 19 find the symmetric difference between two sets 

s19 = {1,2,3,4,5,6,7}
s19_ = {6,7,8,0}
# you can say symmetric difference is union of set - intersection of set 
s19^s19_

{0, 1, 2, 3, 4, 5, 8}

In [87]:
# 20 update a set with elements from another set 
s20 = {1,2,3,4,5,6}
print(f"set1 is {s20}")
s20_ = {7,8,9}
print(f"set20_ is {s20_}")
s20.update(s20_)
s20
print("upated set :",s20)

set1 is {1, 2, 3, 4, 5, 6}
set20_ is {8, 9, 7}
upated set : {1, 2, 3, 4, 5, 6, 7, 8, 9}

In [93]:
# 21 create a set of 5 prime numbers
count = 0
s21 = set()
for i in range(2,50):
    flag = True
    for j in range(2,i):
        if i%j==0:
            flag = False
    if flag:
        count+=1
        s21.add(i)
        if count ==5:
            break

s21

{2, 3, 5, 7, 11}

In [99]:
# 22 check if two sets ar identical or not 
s22 = {1,2,3,4}
s22_ = {3,2,4,1}
if s22== s22_:
    print("yes two sets are identical")

else:
    print("no they are not identical")

yes two sets are identical

### ```23  Create  a frozen set ```

In [104]:
fs = frozenset([1,2,3,3,4]) # frozen sets are similar to set but they are immutable in nature 
fs

frozenset({1, 2, 3, 4})

In [108]:
# 24 check if a set is a disjoint 
# of no elements is common between two sets then the sets are considered as disjoint 
s24 = {1,2,3,4}
s24_ = {5,6,7}
s24.isdisjoint(s24_)

True

In [110]:
# 25 create a set of squares of numbers from 1 to 5 
s25 = set(i**2 for i in range(1,6))
s25

{1, 4, 9, 16, 25}

In [116]:
# 26 filter out all the even number from a set 
s26 = {1,2,3,4,5,6,7,8,9}
s27 = set(i for i in s26 if i%2!=0)
s27

{1, 3, 5, 7, 9}

In [118]:
# 27 multiply all elements in a set by 2 
s27 = {1,2,3,4,5,6}
s27 = set(i*2 for i in range(1,7))
s27

{2, 4, 6, 8, 10, 12}

In [122]:
# 28 create a set of random numbers 
s28 = set() # empty set 
for i in range(1,11):
    s28.add(random.randint(1,10))

s28

{1, 2, 3, 5, 7, 8, 9, 10}

In [126]:
# 29 check if a set is empty or not 
s29 = set()
if not s29:  # if not false , in python empty containers liek empty list string or dictionary are considered as False value 
    print("yes this is empty")

else:
    print("no its not empty")

yes this is empty

### ``` 30 create a nested set (hint: use frozen set )```

In [131]:
set30_1 = {1,2,3,4,5}
set30_2 = {6,7,8,9}
frozenset1  = frozenset(set30_1)
frozenset2 =  frozenset(set30_2)
nested_set = {frozenset1,frozenset2}
nested_set

{frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9})}

In [133]:
# 31 remove an element from a set using the discard method 
s31 = {1,2,3,4,5,6,7,8}
s31.discard(2)
s31

{1, 3, 4, 5, 6, 7, 8}

### ``` 32 compare two set ```

In [136]:
# Step 1: Define two sets
my_set1 = {1, 2, 3, 4, 5}
my_set2 = {4, 5, 6, 7, 8}

# Step 2: Use set operations to compare the sets
# Check if my_set1 is a subset of my_set2
is_subset = my_set1.issubset(my_set2)

# Check if my_set2 is a subset of my_set1
is_superset = my_set1.issuperset(my_set2)

# Find the intersection of the sets
intersection = my_set1.intersection(my_set2)

# Find the union of the sets
union = my_set1.union(my_set2)

# Find the elements that are in my_set1 but not in my_set2
difference1 = my_set1.difference(my_set2)

# Find the elements that are in my_set2 but not in my_set1
difference2 = my_set2.difference(my_set1)

# Step 3: Print the results
print("Set 1:", my_set1)
print("Set 2:", my_set2)
print("Is my_set1 a subset of my_set2?", is_subset)
print("Is my_set2 a subset of my_set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in my_set1 but not in my_set2:", difference1)
print("Elements in my_set2 but not in my_set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is my_set1 a subset of my_set2? False
Is my_set2 a subset of my_set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in my_set1 but not in my_set2: {1, 2, 3}
Elements in my_set2 but not in my_set1: {8, 6, 7}

In [138]:
# 33 create a set from string 
str33 = "hello"
s33 = set(str33)
s33

{'e', 'h', 'l', 'o'}

In [140]:
# 34 convert a set of string to a set of integer 
s34 = {"1","2","3","4"}  # this is set of string 
int_set34  = set()
for i in s34:
    int_set34.add(int(i))

int_set34

{1, 2, 3, 4}

In [142]:
# 35 convert a set of integer to a set of strin g
s35 = {1, 2, 3, 4}
str_s35 = set()
for i in s35:
    str_s35.add(str(i))

str_s35

{'1', '2', '3', '4'}

In [146]:
# 36 create a set froma tuple 
tup36 = (1,2,3,34,5,5,6)
s36 = set(tup36)
s36

{1, 2, 3, 5, 6, 34}

In [148]:
# 37 convert a set to a tuple 
s37 = {1, 2, 3, 5, 6, 34}
tup37 = tuple(s37)
tup37

(1, 2, 3, 34, 5, 6)

In [150]:
# 38 find the maximum value in a set 
s38 = (1,2,3,45,6,7)
maxval = max(s38)
maxval

45

In [152]:
# 39 find the minium value in a set 
s39 = {23,44,12,45}
minval = min(s39)
minval

12

In [166]:
# 40 create a set from a user input 
str40 = input("enter the comma sepreated value to make set")
s40 = set()
l = str40.split(",")
for i in l :
    if i.isdigit():
        s40.add(int(i))
        continue
    if i.isalpha():
        s40.add(i)
        continue
    if i.isalnum():
        s40.add(i)
        continue
    else:
        s40.add(i)
s40

enter the comma sepreated value to make set 1,2,3hi

{1, 2, '3hi'}

In [172]:
# 41 check if the intersection of two sets is empty or not 
s41_1 = {1,2,3,4}
s41_2 = {5}
if not s41_1.intersection(s41_2):
    print(" its empty")
else:
    print("its not empty")

 its empty

In [184]:
# 42 create a  set of first 5 fibonacci numbers
s42 = set()
n1 = 0 
n2 = 1 
n = int(input("enter how many fibonacci series you want "))
for i in range(1,n+1):
    s42.add(n1)
    nth = n1+n2
    n1 = n2
    n2 = nth
s42

enter how many fibonacci series you want  10

{0, 1, 2, 3, 5, 8, 13, 21, 34}

In [9]:
# 43 removbe duplicate from a list using list 
l = [1,2,2,3,4,5,6,1,4]
l = set(l)
l = list(l)
l

[1, 2, 3, 4, 5, 6]

In [11]:
# 44 Check if two sets have the same elements, regardless of their count.
def have_same_elements(set1, set2):
    return set1 == set2

# Example sets
set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}

# Check if the sets have the same elements
if have_same_elements(set1, set2):
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

In [15]:
# 45 Create a set of the first `n` powers of 2.
n = int(input("enter the value of n to create a set of the first n power of 2 "))
s45 = set(2**n for n in range(n+1))
s45

enter the value of n to create a set of the first n power of 2  5

{1, 2, 4, 8, 16, 32}

In [17]:
# 46 find the common elements between a set and the list 
s46 = {1,2,3,4,5,6,7,8,9}
l = [2,3,14,15,16]
lset = set(l)
inter = list(s46.intersection(l))
inter

[2, 3]

In [25]:
# 47 create a set of first n triangular number
n = int(input("enter the n value "))
s47 = set()
for i in range(1,n+1):
    s47.add(int((i*(i+1))/2))

s47

enter the n value  5

{1, 3, 6, 10, 15}

In [27]:
# 48 check if a set contain amother as a subset 
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

# Check if set2 is a subset of set1
is_subset = set2.issubset(set1)

# Print the result
if is_subset:
    print("yes")
else:
    print("no")

yes

In [33]:
# 49 Create a set of alternating 1s and 0s of length `n`.
n = int(input("enter the value of n :"))
s49 = [1 if i % 2 == 0 else 0 for i in range(1, n + 1)]
s49

enter the value of n : 5

[0, 1, 0, 1, 0]

In [49]:
# 50 merge multiple sets into on e
# Step 1: Create multiple sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Step 2: Use the union() method to merge sets
merged_set = set1.union(set2, set3)

# Alternatively, you can use the | operator
# merged_set = set1 | set2 | set3

# Step 3: Print the merged set
print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}