###`Problem 1:` Combine two lists index-wise(columns wise)

Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the new list.

`Given List:`
```
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]
```

`Output:`
```
[['M','y'], ['na', me'], ['i', 's'], ['Kh', 'an']]
```

In [10]:
# using list comnprehension 
list1 = ["M", "na", "i", "Kh""]
list2 = ["y", "me", "s", "an"]
[[i,j] for (i,j) in zip(list1,list2)]

[['M', 'y'], ['na', 'me'], ['i', 's'], ['Kh', 'an']]

In [14]:
# using append fucntion 
list1 = ["M", "na", "i", "Kh","ali","gauhar"] #6
list2 = ["y", "me", "s","an"] #4
#output should be the 2d list [['M', 'y'], ['na', 'me'], ['i', 's'], ['Kh', 'an'],["ali"],["gauhar"]]
res = []
len1 = len(list1)
len2 = len(list2)
mini = min(len1,len2)   # len 2 is smaller 
maxi = max(len1,len2)
for i in range(0,mini):
    res.append([list1[i],list2[i]])
for j in range(mini-1,maxi):
    res.append([list1[j]])


print(res)

[['M', 'y'], ['na', 'me'], ['i', 's'], ['Kh', 'an'], ['Kh'], ['ali'], ['gauhar']]

In [22]:
def add_lists_index_wise(list1, list2):
    # Initialize an empty result list
    result = []

    # Determine the length of the shorter list
    min_length = min(len(list1), len(list2))

    # Add elements from both lists index-wise
    for i in range(min_length):
        result.append(list1[i] + list2[i])

    # Add any leftover items from longer list
    if len(list1) > min_length:
        result.extend(list1[min_length:])
    elif len(list2) > min_length:
        result.extend(list2[min_length:])

    return result

# Given lists
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]

# Call the function and print the result
combined_list = add_lists_index_wise(list1, list2)
print(combined_list)

['My', 'name', 'is', 'Khan']

In [9]:

# Given lists
list1 = ["M", "na", "i", "Kh","ali","hi"]
list2 = ["y", "me", "s", "an"]

# Initialize an empty result list
result = []

# Determine the length of the shorter list
min_length = min(len(list1), len(list2))

# Add elements from both lists index-wise
for i in range(min_length):
    result.append([list1[i], list2[i]])  # Create a sublist with both elements

# Add any leftover items from longer list
if len(list1) > min_length:
    result.extend([[item, None] for item in list1[min_length:]])
elif len(list2) > min_length:
    result.extend([[None, item] for item in list2[min_length:]])

# Print the result
print(result)

[['M', 'y'], ['na', 'me'], ['i', 's'], ['Kh', 'an'], ['ali', None], ['hi', None]]

### `Problem 2:` Add new item to list after a specified item
Write a program to add item 7000 after 6000 in the following Python List
```
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
```
`Output:`
```
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]
```

In [5]:
# using append fucntion 
l1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
l1[2][2].append(7000) # we grab the list [5000,600] and then append the list by 7000
print(l1)

# the ouyput should be [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [11]:
# Using concatenate function 
l1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
l1[2][2]+[7000]
print(l1)
# the output should be this [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

[10, 20, [300, 400, [5000, 6000], 500], 30, 40]

In [13]:
l1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
l1[2][2] +[7000]  # it will create a new list [5000,6000,7000] only this list 
print(l1)

[10, 20, [300, 400, [5000, 6000], 500], 30, 40]

In [15]:
l1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
l1[2][2] +=[7000] 
print(l1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

###`Problem 3:` Update no of items available

Suppose you are given a list of candy and another list of same size representing no of items of respective candy.

i.e -  
```
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]
```

Write a program to show no. of items of each candy type.

`Output:`

```
Jelly Belly-10
Kit Kat-20
Double Bubble-34
Milky Way-74
Three Musketeers-32

```

In [4]:
# doubtful

candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]
zipped = zip(candy_list,no_of_items)
zipped = list(zipped)
print(list(zipped))
for i,j in zipped:
    print(i,'-',j)

[('Jelly Belly', 10), ('Kit Kat', 20), ('Double Bubble', 34), ('Milky Way', 74), ('Three Musketeers', 32)]
Jelly Belly - 10
Kit Kat - 20
Double Bubble - 34
Milky Way - 74
Three Musketeers - 32

In [27]:
candy_list = ['Jelly Belly', 'Kit Kat', 'Double Bubble', 'Milky Way', 'Three Musketeers']
no_of_items = [10, 20, 34, 74, 32]
zipped = list(zip(candy_list, no_of_items))  # Convert to a list
for i, j in zipped:
    print(i, '-', j)

Jelly Belly - 10
Kit Kat - 20
Double Bubble - 34
Milky Way - 74
Three Musketeers - 32

###`Problem 4:` Running Sum on list
Write a program to print a list after performing running sum on it.

i.e:

`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,3,6,10,15,21]
```

In [28]:
# Write code here
list1 = [1,2,3,4,5,6]
sum = 0 
newl = []
for i in list1:
    sum = sum+i
    newl.append(sum)

print(newl)

[1, 3, 6, 10, 15, 21]

###`Problem 5:` You are given a list of integers. You are asked to make a list by running through elements of the list by adding all elements greater and itself.

i.e. Say given list is `[2,4,6,10,1]`
resultant list will be `[22,20,10,23]`.

For 1st element `2` ->> these are greater `(4+6+10)` values and `2` itself so on adding becomes `22`.

For 2nd element `4` ->> greater elements are `(6, 10)` and `4` itself, so on adding `20`

like wise for all other elememts.

`[2,4,6,10,1]`-->`[22,20,16,10,23]`

In [1]:
l1 = [2,4,6,10,1]
l2 = []
n = 5
for i in range(0,n):
    mytotal = 0
    for j in range(0,n):
        if l1[j]>=l1[i]:
            mytotal+=l1[j]
    l2.append(mytotal)
print(l2)

# the output should be [22,20,16,10,23]

[22, 20, 16, 10, 23]

In [2]:
l1 = [2, 4, 6, 10, 1]
l2 = []
n = len(l1) #5

for i in range(n):
    my_total = 0  # Renamed the variable to avoid conflicts
    for j in range(n):
        if l1[j] >= l1[i]:
            my_total += l1[j]
    l2.append(my_total)

print(l2)  # Output: [22, 20, 16, 10, 23]

[22, 20, 16, 10, 23]

###`Problem 6:` Find list of common unique items from two list. and show in increasing order

`Input`

```
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
```

`Output:`
```
[34, 67, 89]
```

In [1]:
# using for loops and simple append fucntion 
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
emp1 = []
for i in num1:
    for j in num2 :
        if i ==j:
            emp1.append(i)
emp1.sort()
emp1

[34, 67, 89]

In [16]:
# using set fucntion in the python 
l1 =  list(set(num1).intersection(set(num2))) # first list is converted into set then we take intersection of both set and then converted it in the list 
l1.sort() # list is sort pemanently in the memory in the ascending order 
l1

[34, 67, 89]

In [23]:
# using in fucntion 
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
emp1 = []
for i in num1 :
    if i in num2 and i not in emp1: # i not in emp1 is to make sure the items are not repeating in the list 
        emp1.append(i)

emp1.sort()
emp1

[34, 67, 89]

###`Problem 7:` Sort a list of alphanumeric strings based on product value of numeric character in it. If in any string there is no numeric character take it's product value as 1.

`Input:`
```
['1ac21', '23fg', '456', '098d','1','kls']
```

`Output:`
```
['456', '23fg', '1ac21', '1', 'kls', '098d']

```

In [31]:
# Write code here
l = ['1ac21', '23fg', '456', '098d','1','kls']
plist  = []
for item in l:
    product = 1
    for i in item: # this loop will iterarte on a string 
        if i.isdigit():
            product = product*int(i)
    plist.append(product)   # appe)nding product value and making a list containing product value 

zipped = list(zip(plist,l))
sort_list = sorted(zipped)
sort_list.reverse()
sort_list

[(120, '456'), (6, '23fg'), (2, '1ac21'), (1, 'kls'), (1, '1'), (0, '098d')]

In [2]:
# Write code here
l = ['1ac21', '23fg', '456', '098d','1','kls']
plist  = []
for item in l:
    product = 1
    for i in item: # this loop will iterarte on a string 
        if i.isdigit():
            product = product*int(i)
    plist.append(product)   # appe)nding product value and making a list containing product value 

zipped = list(zip(plist,l))
sort_list = print(sorted(zipped))

[(0, '098d'), (1, '1'), (1, 'kls'), (2, '1ac21'), (6, '23fg'), (120, '456')]

In [8]:
# Write code here
l = ['1ac21', '23fg', '456', '098d','1','kls']
plist  = []
for item in l:
    product = 1
    for i in item: # this loop will iterarte on a string 
        if i.isdigit():
            product = product*int(i)
    plist.append(product)   # appe)nding product value and making a list containing product value 

zipped = list(zip(plist,l))
sort_list = sorted(zipped)
print(sort_list.reverse())

None

In [7]:
# Write code here
l = ['1ac21', '23fg', '456', '098d','1','kls']
plist  = []
for item in l:
    product = 1
    for i in item: # this loop will iterarte on a string 
        if i.isdigit():
            product = product*int(i)
    plist.append(product)   # appe)nding product value and making a list containing product value 

zipped = list(zip(plist,l))
sort_list = sorted(zipped)
slist = sort_list.reverse()
print(slist)

None

In [8]:
# Write code here
l = ['1ac21', '23fg', '456', '098d','1','kls']
plist  = []
for item in l:
    product = 1
    for i in item: # this loop will iterarte on a string 
        if i.isdigit():
            product = product*int(i)
    plist.append(product)   # appe)nding product value and making a list containing product value 

zipped = list(zip(plist,l))
sort_list = sorted(zipped)
rev = sort_list[::-1]
print(rev)
[j for i,j in rev]

[(120, '456'), (6, '23fg'), (2, '1ac21'), (1, 'kls'), (1, '1'), (0, '098d')]

['456', '23fg', '1ac21', 'kls', '1', '098d']

In [32]:
l = [1,3,4,5,6,7]
print(l.reverse()) # this function cant print but it reverse the list 
print(l)

None
[7, 6, 5, 4, 3, 1]

`Problem 8:` Split String of list on K character.

**Example :**

Input:
```bash
['CampusX is a channel', 'for data-science', 'aspirants.']
```

Output:
```bash
['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']
```

In [4]:
# Write code here
l1 = ['CampusX is a channel', 'for data-science', 'aspirants.']
n = input("Emter the character on which you want to break a sentence")
nl = []
for item in l1:
    str = ""
    for j in item:
        str = str+j
        if j ==n:
            nl.append(str)
            str = ""
    nl.append(str)
nl

Emter the character on which you want to break a sentence

['CampusX ', 'is ', 'a ', 'channel', 'for ', 'data-science', 'aspirants.']

### `Problem 9:` Convert Character Matrix to single String using string comprehension.

**Example 1:**

Input:
```bash
[['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]
```

Output:
```bash
campux is best channel
```

In [1]:
# Write code here
l = [['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]
str = ""
for item in l:
    for j in item:
        str = str+j
    str = str+" "

print(str)

campux is best channel

### `Problem 10:` Add Space between Potential Words.

**Example:**

Input:

```bash
['campusxIs', 'bestFor', 'dataScientist']
```

Output:
```bash
['campusx Is', 'best For', 'data Scientist']
```

In [16]:
# adding space after a capital letter 
l = ['campusxIs', 'bestFor', 'dataScientist']
nl = []
ltemp = []
for i in l:
    for j in i:
        str = str+j
        if j.isupper:
            str = " "+j
    nl.append(str)

            
nl

[' s', ' r', ' t']

### `Problem 11:` Write a program that can perform union operation on 2 lists

**Example:**

Input:

```bash
[1,2,3,4,5,1]
[2,3,5,7,8]
```

Output:
```bash
[1,2,3,4,5,7,8]
```

In [1]:
# using set function in the python 
l1 = [1,2,3,4,5,1]
l2 = [2,3,5,7,8]
s1 = set(l1)
s2 = set(l2)
print(s1.union(s2))

{1, 2, 3, 4, 5, 7, 8}

In [2]:
# finding union set operation using only loops and andf list function 
l1 = [1,2,3,4,5,1]
l2 = [2,3,5,7,8]
emp = []
for i in l1:
    if i not in emp:
        emp.append(i)

for j in l2 :
    if j not in emp:
        emp.append(j)

emp

[1, 2, 3, 4, 5, 7, 8]

### `Problem 12:` Write a program that can find the max number of each row of a matrix

**Example:**

Input:

```bash
[[1,2,3],[4,5,6],[7,8,9]]
```

Output:
```bash
[3,6,9]
```

In [32]:
# Write code here
l2 = [[1,2,3],[4,5,6],[7,8,9]]
nl = []
for i in l2:
    m = max(i)
    nl.append(m)
print(nl)

[3, 6, 9]

In [7]:
rows, cols = 3, 3
matrix = [[i * cols + j for j in range(cols)] for i in range(rows)]
print(matrix)

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

### `Problem 13:` Write a list comprehension to print the following matrix

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

### `Problem 14:` Write a list comprehension that can transpose a given matrix

matrix = [<br>
  [1,2,3],<br>
          [4,5,6],<br>
          [7,8,9]<br>]<br>

[1, 4, 7]<br>
[2, 5, 8]<br>
[3, 6, 9]<br>

In [ ]:
# Write code here
# transpose of matrix 
[[1,2,3,],[4,5,6],[7,8,9]

### `Problem 15:` Write a list comprehension that can flatten a nested list

Input<br>
matrix = [<br>
  [1,2,3],<br>
          [4,5,6],<br>
          [7,8,9]<br>]<br>

Output:<br>
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [1]:
# Write code here

In [5]:
s = "parikh"
s[:2:-1] 
#hki output hoga isska sir aap mujhe batayiye yahana ye output kaise aaya ye kaise indexing check kar raha he

'hki'

In [7]:
s = "parikh"
s[0:2:-1]

''

In [9]:
p = "hello"
p[:5:-1]

'hello'

In [11]:
p1 = "hello"
p1[0:5:-1]

''